<section class="py-2">
  <div class="row">
    <div class="">
      <!-- <h1 class="display-3 mt-1 pt-1">Lock it up!</h1> -->
      <p class="lead">Create a Bitcoin Locked Ethereum Contract</p>
    </div>
  </div>
  <div class="container">
  	<div class="row">
          <div class="control-group" id="fields">
              <label class="control-label" for="field1">Add Bitcoin Public Addresses</label>
              <div class="controls">
                  <form role="form" autocomplete="off" method="POST" action="/createWallet">
                      <div class="entry input-group col-xs-3">
                          <input size="85" style="line-height:25px;color:black" name="fields" type="text" placeholder="Input Bitcoin Public Address"></input>
                      	<span class="input-group-btn">
                              <button class="btn btn-success btn-add" type="button">
                                  <span class="glyphicon glyphicon-plus"></span>
                              </button>
                          </span>
                      </div>
                      <!-- <button class="btn btn-success" type="submit">Get Multisig Wallet</button> -->
                  </form>
              <br>
              <small>Press <span class="glyphicon glyphicon-plus gs"></span> to add another Bitcoin Address</small><br><br>
              </div>
              <input class="btn btn-success" type="submit" onclick="document.forms[0].submit();" />
          </div>
  	</div>
</div>
<!-- <form meth="POST" action="/makeTest">
  <input type"submit"></input>
</form> -->
</section>
