<section class="py-5">
  <h1 class="display-3">
    Congrats!
  </h1>
  <p class="lead">New Multi-Sig Bitcoin Address: {{address}}</p>
  {{#each array}}
    <p>Public Address: {{this}}</p>
  {{/each}}
  <a href="/" class="btn btn-dark btn-lg">Go Back Home</a>
</section>
